
  .cardsVideo {
    
    padding: 4rem;
    background: #e4e4e4;
    
  }
  .cards__item {
    display: flex;
    flex: 1;
    
    width: 100%;
    margin: 0 1rem;
    border-radius: 10px;
    background: #ffffff;
  }
  
.cards__video__wrap {
    position: relative;
    width: 100%;
    overflow: hidden;
  }

  .cards__video__container {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;
    box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
    filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    border-radius: 10px;
    overflow: hidden;
    text-decoration: none;
  }
  .cards__video__info{
      
    padding: 20px 30px 30px;
  }


  @media only screen and (max-width: 1015px){
    .cards__item {
      display: flex;
      flex: 1;
      margin: 0 1rem;
      margin-bottom: 50px;
      border-radius: 10px;
      background: #ffffff;
    }
  }
